<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>新手编程首页</title>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/comment.css"/>
    <script src="/static/js/react.js"></script>
    <script src="/static/js/react-dom.js"></script>
    <script src="/static/js/browser.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>

    <!--     <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script> -->
  </head>
  <body>
    <div id="code_blog">
        <div id= "article" ></div>
        <div id="comment"></div>
    </div>
    <script src="/static/js/build/comment.js"></script>
    <script src="/static/js/build/index.js"></script>
  </body>
</html>