<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>新手编程登录</title>
     <link rel="stylesheet" href="/static/css/login.css"/>
    <script src="/static/js/react.js"></script>
    <script src="/static/js/react-dom.js"></script>
    <script src="/static/js/browser.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
  </head>
  <body>
        <div id="login_page"></div>
        <!-- <img src="/static/images/login.jpg" style="width:320px" /> -->
        <script type="text/javascript" src="/static/js/build/login.js"></script>
  </body>
</html>