<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>新手编程首页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
    <script src="/static/js/react.js"></script>
    <script src="/static/js/react-dom.js"></script>
    <script src="/static/js/browser.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
  </head>
  <body>
    <div id="register_success">
        <div id="user_sha1"></div>
    </div>
    <script type="text/javascript" src="/static/js/build/register_success.js"></script>

  </body>
</html>